@font-face {
  font-family: "Nug"; /* Project id 4963141 */
  src: url('//at.alicdn.com/t/c/font_4963141_c7xbrtbt19b.woff2?t=1754896682679') format('woff2'),
       url('//at.alicdn.com/t/c/font_4963141_c7xbrtbt19b.woff?t=1754896682679') format('woff'),
       url('//at.alicdn.com/t/c/font_4963141_c7xbrtbt19b.ttf?t=1754896682679') format('truetype');
}

.Nug {
  font-family: "Nug" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Nug-dingzi2:before {
  content: "\e645";
}

.Nug-shuaxin:before {
  content: "\e63b";
}

.Nug-zazhi-copy:before {
  content: "\e857";
}

.Nug-xihuan:before {
  content: "\e676";
}

.Nug-guanbi:before {
  content: "\e62f";
}

.Nug-youjiantou:before {
  content: "\e678";
}

.Nug-zuojiantou:before {
  content: "\e67c";
}

.Nug-zuobian:before {
  content: "\e62a";
}

.Nug-youbian:before {
  content: "\e655";
}

.Nug-fuzhi:before {
  content: "\e60f";
}

.Nug-toolbar_zishutongji:before {
  content: "\e653";
}

.Nug-suoxiao3:before {
  content: "\e6c7";
}

.Nug-zhankai2:before {
  content: "\e638";
}

.Nug-lianjie:before {
  content: "\e600";
}

.Nug-shangxiazuoyouTriangle19:before {
  content: "\e695";
}

.Nug-shangxiazuoyouTriangle111:before {
  content: "\e696";
}

.Nug-shangxiazuoyouTriangle110:before {
  content: "\e69b";
}

.Nug-shangxiazuoyouTriangle112:before {
  content: "\e69d";
}

.Nug-bofangye-pinglunbunengpinglun:before {
  content: "\e627";
}

.Nug-pinglun-:before {
  content: "\e679";
}

.Nug-daohang:before {
  content: "\e64c";
}

.Nug-meiyoupinglun:before {
  content: "\e610";
}

.Nug-zuozhe:before {
  content: "\e6bc";
}

.Nug-caozuo_zidongliangdu:before {
  content: "\e670";
}

.Nug-huojian:before {
  content: "\e64e";
}

.Nug-GULULU-caihongbaobao:before {
  content: "\e620";
}

.Nug-weibo:before {
  content: "\e604";
}

.Nug-QQ:before {
  content: "\e64d";
}

.Nug-weixin:before {
  content: "\e856";
}

.Nug-wangyiyunyinle:before {
  content: "\e613";
}

.Nug-bilibili-line:before {
  content: "\e75d";
}

.Nug-github:before {
  content: "\e842";
}

.Nug-shouye11:before {
  content: "\e611";
}

.Nug-shouye13:before {
  content: "\e615";
}

.Nug-shouye15:before {
  content: "\e617";
}

.Nug-shouye16:before {
  content: "\e618";
}

.Nug-shouye17:before {
  content: "\e61a";
}

.Nug-shouye18:before {
  content: "\e61b";
}

.Nug-shouye20:before {
  content: "\e61e";
}

.Nug-shouye21:before {
  content: "\e61f";
}

.Nug-shouye23:before {
  content: "\e622";
}

.Nug-shouye24:before {
  content: "\e623";
}

.Nug-shouye25:before {
  content: "\e625";
}

.Nug-shouye26:before {
  content: "\e626";
}

.Nug-shouye28:before {
  content: "\e628";
}

.Nug-shouye30:before {
  content: "\e62b";
}

.Nug-shouye31:before {
  content: "\e62c";
}

.Nug-shouye32:before {
  content: "\e62d";
}

.Nug-shouye33:before {
  content: "\e62e";
}

.Nug-shouye35:before {
  content: "\e631";
}

.Nug-shouye36:before {
  content: "\e632";
}

.Nug-shouye37:before {
  content: "\e633";
}

.Nug-shouye38:before {
  content: "\e635";
}

.Nug-shouye39:before {
  content: "\e636";
}

.Nug-shouye40:before {
  content: "\e637";
}

.Nug-shouye42:before {
  content: "\e639";
}

.Nug-shouye43:before {
  content: "\e63a";
}

.Nug-shouye45:before {
  content: "\e63c";
}

.Nug-shouye46:before {
  content: "\e63d";
}

.Nug-shouye47:before {
  content: "\e63e";
}

.Nug-shouye48:before {
  content: "\e640";
}

.Nug-shouye49:before {
  content: "\e641";
}

.Nug-shouye50:before {
  content: "\e642";
}

.Nug-shouye51:before {
  content: "\e643";
}

.Nug-shouye52:before {
  content: "\e644";
}

.Nug-shouye54:before {
  content: "\e646";
}

.Nug-shouye55:before {
  content: "\e648";
}

.Nug-shouye56:before {
  content: "\e649";
}

.Nug-shouye57:before {
  content: "\e64a";
}

.Nug-shouye58:before {
  content: "\e64b";
}

.Nug-icon11:before {
  content: "\e64f";
}

.Nug-icon17:before {
  content: "\e65a";
}

.Nug-icon18:before {
  content: "\e65b";
}

.Nug-icon19:before {
  content: "\e65c";
}

.Nug-icon20:before {
  content: "\e65d";
}

.Nug-icon22:before {
  content: "\e661";
}

.Nug-icon23:before {
  content: "\e662";
}

.Nug-icon24:before {
  content: "\e663";
}

.Nug-icon25:before {
  content: "\e665";
}

.Nug-icon26:before {
  content: "\e666";
}

.Nug-icon27:before {
  content: "\e668";
}

.Nug-icon29:before {
  content: "\e66c";
}

.Nug-icon30:before {
  content: "\e66d";
}

.Nug-icon31:before {
  content: "\e66e";
}

.Nug-icon32:before {
  content: "\e683";
}

.Nug-icon33:before {
  content: "\e684";
}

.Nug-icon34:before {
  content: "\e685";
}

.Nug-icon35:before {
  content: "\e686";
}

.Nug-icon36:before {
  content: "\e68b";
}

.Nug-icon37:before {
  content: "\e68d";
}

.Nug-icon39:before {
  content: "\e690";
}

.Nug-icon40:before {
  content: "\e691";
}

.Nug-icon41:before {
  content: "\e692";
}

.Nug-icon44:before {
  content: "\e697";
}

.Nug-icon45:before {
  content: "\e698";
}

.Nug-icon46:before {
  content: "\e69a";
}

.Nug-icon48:before {
  content: "\e69c";
}

.Nug-icon49:before {
  content: "\e69e";
}

.Nug-icon50:before {
  content: "\e6a0";
}

.Nug-shouye:before {
  content: "\e612";
}

.Nug-shouye1:before {
  content: "\e614";
}

.Nug-shouye2:before {
  content: "\e619";
}

.Nug-shouye3:before {
  content: "\e61c";
}

.Nug-shouye4:before {
  content: "\e621";
}

.Nug-shouye5:before {
  content: "\e624";
}

.Nug-shouye6:before {
  content: "\e629";
}

.Nug-shouye7:before {
  content: "\e630";
}

.Nug-shouye8:before {
  content: "\e634";
}

.Nug-shouye9:before {
  content: "\e63f";
}

.Nug-shouye10:before {
  content: "\e647";
}

.Nug-icon:before {
  content: "\e650";
}

.Nug-icon1:before {
  content: "\e651";
}

.Nug-icon2:before {
  content: "\e652";
}

.Nug-icon3:before {
  content: "\e654";
}

.Nug-icon4:before {
  content: "\e657";
}

.Nug-icon5:before {
  content: "\e65f";
}

.Nug-icon6:before {
  content: "\e66a";
}

.Nug-icon7:before {
  content: "\e68e";
}

.Nug-icon8:before {
  content: "\e693";
}

.Nug-icon9:before {
  content: "\e694";
}

.Nug-icon10:before {
  content: "\e699";
}
