<include src="layout.html">
    <template name="title">
      <title th:text="|${singlePage?.spec?.title} - ${site.title}|"></title>
    </template>

      <div class="post-content">
        <div class="page-main">
          <div class="page-img_content">
            <div class="page-content">
              <div class="post">
                <header class="post__header">
                  <h1 class="post__title" th:text="${singlePage.spec.title}"></h1>
                </header>

                <article class="post__content" th:utext="${singlePage.content.content}"></article>

                <div class="post-divider up"></div>

                <div class="post-footer up">
                  <div class="post-date">
                    <span th:text="#{post.publishTimeLabel}">发布时间：</span>
                    <th:block th:text="${#temporals.format(singlePage.spec.publishTime, 'yyyy-MM-dd')}"></th:block>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Comments -->
          <div class="page-comments">
            <th:block th:replace="~{modules/widgets/comment :: comment(post_name=${singlePage.metadata.name},kind='SinglePage',group='content.halo.run')}"></th:block>
          </div>
        </div>
      </div>
</include>